*,html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* nav section */
#navbar {
  background-color: #3B4CCA;
}

#navbar span {
  color: #FFDE00; 
}

/* search section */

#search-btn {
  background-color: #FFDE00;
  color: #2F3336;
  margin-top: 5%;
}

#pokemon-dropdown {
  background-color: #FFDE00;
  color: #2F3336;
  margin-top: 5%;
}

.about-poke {
  margin-top: 5%;
  padding: 2%;
  border: 1px solid #2F3336;
  border-radius: 6px;
  background-color: #FFDE00;
  font-weight: 400;
}